In [ ]:
!pip install metric_learn
from datapreparation.profile_parser import *
from metric_learn_algos.metric_learn_algos import *
import pandas as pd
import numpy as np
from  sklearn.preprocessing import LabelEncoder
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import PCA

Requirement already satisfied: metric_learn in /Users/sswetank/anaconda3/lib/python3.6/site-packages (0.4.0)
Requirement already satisfied: six in /Users/sswetank/anaconda3/lib/python3.6/site-packages (from metric_learn) (1.12.0)
Requirement already satisfied: numpy in /Users/sswetank/anaconda3/lib/python3.6/site-packages (from metric_learn) (1.16.2)
Requirement already satisfied: scipy in /Users/sswetank/anaconda3/lib/python3.6/site-packages (from metric_learn) (1.2.1)
Requirement already satisfied: scikit-learn in /Users/sswetank/anaconda3/lib/python3.6/site-packages (from metric_learn) (0.20.2)

In [123]:
x={'2':'ootwo','21':'one'}
sorted(x.items(),key=lambda kv:kv[1])

[('21', 'one'), ('2', 'ootwo')]

In [113]:
def similarity_scorer(x,original_df,profile_id,threshold,pca=False,includeAmount=False): 
#     x=x.copy()
    profile_index=np.where(original_df['profile_id']==profile_id)
    profile_data=x.iloc[profile_index]
    
    if not includeAmount:
        x=x.drop('Amount1',axis=1)
        profile_data=profile_data.drop('Amount1',axis=1)
        
    if pca:
        pca = PCA(n_components=30)
        df2=pca.fit_transform(x)

        df2=pd.DataFrame(df2)
        sim=cosine_similarity(df2.iloc[profile_index],df2)
    else:
        sim=cosine_similarity(profile_data,x)

    indices=np.where(sim[0]>=threshold)

    similarity_scores={}
    for i in indices[0]:
        similarity_scores[original_df.iloc[i]['profile_id']]=sim[0][i]
    
    print(sorted(similarity_scores.items(), key=lambda kv: kv[1],reverse=True))
    return sorted(similarity_scores.items(), key=lambda kv: kv[1],reverse=True)

def similarity_scorer_with_metric_learn(X,Y,raw_df,profile_id,threshold,algo):
    if algo =='LMNN':
        X_trans=pd.DataFrame(metric_lmnn(X,Y))
    elif algo =='NCA':
        X_trans=pd.DataFrame(metric_nca(X,Y))
    elif algo =='LFDA':
        X_trans=pd.DataFrame(metric_lfda(X,Y))
    elif algo =='MLKR':
        X_trans=pd.DataFrame(metric_mlkr(X,Y))
    profile_index=np.where(raw_df['profile_id']==profile_id)
    profile_data=X_trans.iloc[profile_index]
    sim=cosine_similarity(profile_data,X_trans)
    indices=np.where(sim[0]>=threshold)
    similarity_scores={}
    for i in indices[0]:
        similarity_scores[raw_df.iloc[i]['profile_id']]=sim[0][i]
    return sorted(similarity_scores.items(), key=lambda kv: kv[1],reverse=True)

In [94]:
def read_from_mc(managed_content_path, token):
    from io import StringIO
    import requests
    headers={'Authorization': 'Bearer {}'.format(token)}
    cleansed_data=requests.get(managed_content_path,headers=headers)
    cleansed_data_df=pd.read_csv(StringIO(cleansed_data.text))
    return cleansed_data_df
    
token='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJjb2duaXRpdmVzY2FsZS5jb20iLCJhdWQiOiJjb3J0ZXgiLCJzdWIiOiJzc3dldGFuayIsInRlbmFudCI6ImFjY2VsZXJhdG9ycy1kZXYiLCJiZWFyZXIiOiJwdWJsaWMiLCJrZXkiOiJMazU4NkpRdGc3OE01OG5RakcwVkIzMTFOb1g0Mnc1SyIsImV4cCI6MTU2MzQzODYzNCwiYWNsIjp7Ii4qIjpbIlJFQUQiLCJSVU4iLCJXUklURSIsIkRFTEVURSJdLCIvdjMvYWdlbnRzL2Vudmlyb25tZW50cy8uKiI6WyJERU5ZIl0sIi92Mi9hZG1pbi8uKiI6WyJERU5ZIl0sIi92Mi90ZW5hbnRzLy4qIjpbIkRFTlkiXSwiL3YyL3RlbmFudHMvY3VycmVudC11c2VyLWRldGFpbHMiOlsiUkVBRCJdLCIvdjIvYWNjb3VudHMvLioiOlsiREVOWSJdLCIvdjMvY2F0YWxvZy8uKiI6WyJSRUFEIiwiUlVOIiwiV1JJVEUiLCJERUxFVEUiXSwiL3YyL2FjY291bnRzL3Rva2Vucy8uKiI6WyJSRUFEIiwiUlVOIiwiV1JJVEUiXSwiL3YyL3RlbmFudHMvc2VjcmV0cy8uKiI6WyJSRUFEIiwiUlVOIiwiV1JJVEUiXSwiL3YzL2FnZW50cy9lbnZpcm9ubWVudHMvY29ydGV4L2RlZmF1bHQiOlsiUkVBRCIsIlJVTiIsIldSSVRFIl19LCJpYXQiOjE1NjIyMjkwMzR9.uAPxZSI7kf4K1IUENF5k4ajH4IO3mGDc8MqHHQGTRH0'
raw_data_path='https://api.cortex.insights.ai/v2/content/accelerators/profile-similarity/rawdata'
cleansed_data_path='https://api.cortex.insights.ai/v2/content/accelerators/profile-similarity/cleanseddata'
raw_df=read_from_mc(raw_data_path,token)
cleansed_df=read_from_mc(cleansed_data_path,token)

In [95]:
raw_df.head()

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
0,50000,Rosella Hymer,Amplify - QuickStart(Process Insights),Confirming Value with Power,Walmart,[],['Eduardo Brayner'],General Merchandisers,0015I11484m7u87wBuD
1,10580000,Astrid Schmaus,Amplify - Enterprise(Survellance Insights),Use Case Confirmed,Exxon Mobil,[],['Ridwan Zurawik'],Petroleum Refining,0017K23751y0u72fZpZ
2,21483000,Janice Cerniglia,Cortex Enterprise(AI Develpoment),Negotiations,Berkshire Hathaway,[],['Courtney Bodey'],Insurance: Property and Casualty (Stock),0017O90702b2u22mRuO
3,10089000,Paris Poma,Engage - Enterprise(Customer360),Prospecting,Apple,[],['Axel Whitsel'],"Computers, Office Equipment",0014B28932p5u37rWgX
4,9141000,Lisa Kalafatis,Cortex Enterprise(MachineLearning),Negotiations,UnitedHealth Group,[],['John Santelli'],Health Care: Insurance and Managed Care,0015R72262j6u33kWxP

In [96]:
raw_df.sort_values(by='industry_name')

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
357,50000,Gilda Cubine,Cortex QuickStart(AI Develpoment),Negotiations,New York,[],['Esther Fannell'],"Advertising, marketing",0010C38260t0u55xUrI
186,50000,Elba Saylors,Cortex QuickStart(AI Develpoment),Negotiations,New York,[],['Jason Cohen'],"Advertising, marketing",0010V37393k9u33zQiU
50,50000,Astrid Schmaus,Cortex QuickStart(AI Develpoment),Negotiations,United Technologies,[],['Brian Galovich'],Aerospace and Defense,0015Y93284g1u93qFrH
223,21755000,Kyle Pouk,Cortex Enterprise(MachineLearning),Negotiations,New York,[],['Mark Husnick'],Aerospace and Defense,0010K83574y4u78xIvL
26,50000,Erick Pezley,Cortex QuickStart(MachineLearning),Needs Identification,Boeing,[],['Ted Colbert III'],Aerospace and Defense,0011O56305d9u14tJmL
379,50000,Stacie Khensovan,Engage - QuickStart(Coversational AI),Prospecting,Newport News,[],['Bharat Amin'],Aerospace and Defense,0014L50256f7u62bQcG
805,19270000,Johnnie Surrell,Cortex Enterprise(MachineLearning),Negotiations,Thousand Oaks,[],['Eve Whitecotton'],Aerospace and Defense,0015G59474o5u66rDyP
883,50000,Lucius Mcgahen,Engage - QuickStart(Customer360),Proposed Solution,Charlotte,[],['Jakob Hain'],Aerospace and Defense,0011Q01837x9u77kOzN
974,50000,Yunus Caley,Cortex QuickStart(MachineLearning),Needs Identification,Chantilly,[],['Khadeeja Issler'],Aerospace and Defense,0019S08815j9u54nMbI
954,50000,Kasey Condict,Amplify - QuickStart(Process Insights),Confirming Value with Power,McLean,[],['Lacy Dontas'],Aerospace and Defense,0016L57286t0u17gDaP
117,50000,Bonnie Riska,Cortex QuickStart(AI Develpoment),Negotiations,Waltham,[],['Cheryl Whitis'],Aerospace and Defense,0017A84171t8u94jJgO
929,50000,Beverley Stage,Amplify - QuickStart(Process Insights),Prospecting,Fort Collins,[],['Paris Holvey'],Aerospace and Defense,0018A34491l3u51iBuD
659,19574000,Pranav Riccelli,Engage - Enterprise(Conversational AI),Prospecting,Berwyn,[],['Henry Zorc'],Aerospace and Defense,0016U07451h7u58vOfG
403,50000,Samir Ishida,Amplify - QuickStart(Survellance Insights),Use Case Confirmed,Wichita,[],['Zackary Deross'],Aerospace and Defense,0013U01632c7u99qUoJ
58,50000,Lisa Kalafatis,Engage - QuickStart(Coversational AI),Prospecting,Lockheed Martin,[],['Cecil Miller'],Aerospace and Defense,0010D72947j7u53yCgF
413,50000,Clyde Biles,Engage - QuickStart(Coversational AI),Prospecting,Cedar Rapids,[],['Dilan Stuedemann'],Aerospace and Defense,0016T19623c5u24rHdQ
660,16760000,Debora Bagnall,Amplify - Enterprise(Process Insights),Use Case Confirmed,Cleveland,[],['Cortez Gatlin'],Aerospace and Defense,0015E58530c4u09sSdZ
116,50000,Adrienne Vassen,Engage - QuickStart(Customer360),Prospecting,Falls Church,[],['Sam Abbate'],Aerospace and Defense,0012C26974m6u88oYjK
206,50000,Gregory Earle,Amplify - QuickStart(Process Insights),Confirming Value with Power,Providence,[],['Ken Waterman'],Aerospace and Defense,0010B71700j2u23fUiG
405,44672000,Kelley Journell,Cortex Enterprise(MachineLearning),Negotiations,Melbourne,[],['Lizzie Pence'],Aerospace and Defense,0012Z49416r1u85oVlI
97,14893000,Alisha Shadle,Cortex Enterprise(AI Develpoment),Negotiations,Falls Church,[],['Mandy Knox'],Aerospace and Defense,0018Y37704c5u22oCrQ
987,50000,Edward Reasner,Engage - QuickStart(Coversational AI),Prospecting,El Segundo,[],['Kaye Big'],Aerospace and Defense,0018Q00104i0u64vFvE
274,50000,Toney Boes,Engage - QuickStart(Customer360),Prospecting,New York,[],['Refugio Hashem'],Aerospace and Defense,0015C48572c3u20jMhH
953,50000,Dale Fullwiler,Engage - QuickStart(Customer360),Proposed Solution,Bellevue,[],['Iwan Seyller'],Aerospace and Defense,0019L61603b7u50eNvS
958,50000,Evie-Grace Sheaffer,Engage - QuickStart(Customer360),Proposed Solution,Stamford,[],['Mikaeel Bright'],Aerospace and Defense,0017R98543k5u61hIgS
539,50000,Ashley Frautschi,Amplify - QuickStart(Process Insights),Confirming Value with Power,Sterling,[],['Albie Remme'],Aerospace and Defense,0017Q17137q8u22gPmX
828,50000,Zac Hagedorn,Cortex QuickStart(AI Develpoment),Negotiations,Elma Center,[],['Digby Lambrakis'],Aerospace and Defense,0013J13082a2u25hUbS
353,50000,River Soplop,Engage - QuickStart(Customer360),Prospecting,Seattle,[],['Charu Jain'],Airlines,0017Y03577c7u14zIkZ
140,5317000,Monte Zancanella,Amplify - Enterprise(Survellance Insights),Use Case Confirmed,Dallas,[],['Kathleen Wayton'],Airlines,0019R12279b5u07kAnZ
705,50000,Woodrow Mitchen,Cortex QuickStart(AI Develpoment),Negotiations,St. George,[],['Esperanza Kasserman'],Airlines,0018U10754p4u70yKmP
...,...,...,...,...,...,...,...,...,...
808,50000,Jorge Stellato,Cortex QuickStart(MachineLearning),Needs Identification,Cleveland,[],['Rubin Zurawik'],Wholesalers: Diversified,0016W98824d1u63bDaN
669,31358000,Kobe Fadden,Engage - Enterprise(Conversational AI),Prospecting,Carmel,[],['Callan Nikaido'],Wholesalers: Diversified,0017R85161o6u23oReE
772,50000,Ismail Bonnoitt,Engage - QuickStart(Customer360),Proposed Solution,Covington,[],['Tyler Barkett'],Wholesalers: Diversified,0010H50332o3u61xMwF
424,50000,Kelley Journell,Engage - QuickStart(Customer360),Proposed Solution,St. Louis,[],['Octavio Fredrikson'],Wholesalers: Diversified,0012L05246i4u15rTtS
428,50000,Orval Stottlemyer,Engage - QuickStart(Coversational AI),Prospecting,Atlanta,[],['Keith Grumbling'],Wholesalers: Diversified,0015X26777i1u33fUyI
747,50000,Christian Hoque,Engage - QuickStart(Coversational AI),Prospecting,Melville,[],['Otha Hulet'],Wholesalers: Diversified,0014I47318r8u68kEbK
683,50000,Vinnie Tuazon,Amplify - QuickStart(Process Insights),Prospecting,Atlanta,[],['Federico Thomases'],Wholesalers: Diversified,0013G00139d4u77rJyW
298,50000,Spencer Helgesen,Engage - QuickStart(Coversational AI),Prospecting,Chicago,[],['Abu Tonini'],Wholesalers: Diversified,0015A74292m0u88gOyD
756,50000,Aiza Moher,Engage - QuickStart(Coversational AI),Prospecting,Portsmouth,[],['Cillian Angilello'],Wholesalers: Diversified,0018N41037o9u52tCjB
941,22235000,Craig Delois,Engage - Enterprise(Conversational AI),Prospecting,Tustin,[],['Emmanuel Pizarro'],Wholesalers: Diversified,0010R10479j9u29lJnJ
167,50000,Randall Prazak,Cortex QuickStart(MachineLearning),Needs Identification,Fremont,[],['Claudette Ruh'],Wholesalers: Electronics and Office Equipment,0017E84275x6u89xPvZ
355,50000,Freda Dennett,Amplify - QuickStart(Process Insights),Prospecting,Glenview,[],['Dominick Demirjian'],Wholesalers: Electronics and Office Equipment,0019Z75843g6u66tDyO
651,50000,Sara Laguna,Cortex QuickStart(AI Develpoment),Negotiations,Greenville,[],['Angelina Freibert'],Wholesalers: Electronics and Office Equipment,0018A26515c4u00tBkZ
81,50000,Jarrett Kettle,Cortex QuickStart(AI Develpoment),Negotiations,Clearwater,[],['John Tonnison'],Wholesalers: Electronics and Office Equipment,0011Z85014b9u59iOaQ
520,50000,Ernie Santoscoy,Engage - QuickStart(Coversational AI),Prospecting,Deerfield,[],['Harold Tall'],Wholesalers: Electronics and Office Equipment,0017Q16277t6u13gSaB
126,50000,Micah Skirvin,Cortex QuickStart(AI Develpoment),Negotiations,Phoenix,[],['Kevin Summers'],Wholesalers: Electronics and Office Equipment,0017I86609w5u91bAzY
111,50000,Gideon Snair,Amplify - QuickStart(Process Insights),Prospecting,Centennial,[],['Vin Melvin'],Wholesalers: Electronics and Office Equipment,0013G22893y4u40tFhQ
909,50000,Darrin Eversman,Cortex QuickStart(AI Develpoment),Negotiations,El Segundo,[],['Isidro Piedmont'],Wholesalers: Electronics and Office Equipment,0015A77453u1u14nHbC
119,50000,Keneth Majeski,Cortex QuickStart(AI Develpoment),Negotiations,Rosemont,[],['Cassidy Toelkes'],Wholesalers: Food and Grocery,0016M02659g3u43tNaN
169,8135000,Scott Jagiello,Engage - Enterprise(Customer360),Prospecting,Richmond,[],['Terry A. West'],Wholesalers: Food and Grocery,0019C66219k2u34sMuJ
245,4353000,Frederic Stalzer,Engage - Enterprise(Conversational AI),Prospecting,South San Francisco,[],['Cecil Martinat'],Wholesalers: Food and Grocery,0016L57871b9u63uCnV
349,16452000,Mauricio Spadlin,Cortex Enterprise(AI Develpoment),Negotiations,Byron Center,[],['Arif Dar'],Wholesalers: Food and Grocery,0012W60341l5u87mYvN
53,50000,Ignacio Volkens,Engage - QuickStart(Customer360),Proposed Solution,Sysco,[],['Jayne Knox'],Wholesalers: Food and Grocery,0010D33191a5u93sToX
317,50000,Khalid Roguemore,Engage - QuickStart(Coversational AI),Prospecting,Providence,[],['Winfred Hildebrandt'],Wholesalers: Food and Grocery,0012K51835b3u60qFtS
11,50000,Lane Peoples,Cortex QuickStart(MachineLearning),Needs Identification,AmerisourceBergen,[],['Dale Danilewitz'],Wholesalers: Health Care,0014U32759o6u60oOxL
488,50000,Xavier Avent,Engage - QuickStart(Customer360),Proposed Solution,St Paul,[],['Jakub Tofflemire'],Wholesalers: Health Care,0012M84572z3u21dKhY
316,24598000,Finnley Aper,Engage - Enterprise(Customer360),Prospecting,Mechanicsville,[],['Joseph Pekala'],Wholesalers: Health Care,0011P16624a2u69rVxY
236,50000,Patricia Harke,Cortex QuickStart(MachineLearning),Needs Identification,Melville,[],['Grace Monahan'],Wholesalers: Health Care,0018M85169d2u83pWaZ
5,50000,Paris Poma,Engage - QuickStart(Customer360),Proposed Solution,McKesson,[],['John Venable'],Wholesalers: Health Care,0014X88750f8u17sOyN
13,50000,Rosella Hymer,Cortex QuickStart(AI Develpoment),Negotiations,Cardinal Health,[],['Lisa Kalafatis'],Wholesalers: Health Care,0019H97971p2u33nZuF

In [97]:
raw_df[raw_df.industry_name=='Computers, Office Equipment']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
3,10089000,Paris Poma,Engage - Enterprise(Customer360),Prospecting,Apple,[],['Axel Whitsel'],"Computers, Office Equipment",0014B28932p5u37rWgX
34,50000,Janice Cerniglia,Cortex QuickStart(MachineLearning),Needs Identification,Dell Technologies,[],['Axel Whitsel'],"Computers, Office Equipment",0018I84600a7u13kRsG
57,24521000,Lilly Raymo,Cortex Enterprise(MachineLearning),Negotiations,HP,[],['Chloe Arrington'],"Computers, Office Equipment",0019O42201r2u71vYsJ
105,50000,Kameron Hanzl,Cortex QuickStart(AI Develpoment),Negotiations,Palo Alto,[],['Archana Deskus'],"Computers, Office Equipment",0013X16242j5u66jMbS
156,50000,Valentine Unnold,Engage - QuickStart(Coversational AI),Prospecting,San Jose,[],['Neo Comings'],"Computers, Office Equipment",0017U30636n8u39sJcX
289,50000,Ernie Santoscoy,Engage - QuickStart(Customer360),Proposed Solution,Norwalk,[],['Zane Lovings'],"Computers, Office Equipment",0010Z59426c3u52uAnH
430,50000,Elias Maresh,Cortex QuickStart(MachineLearning),Needs Identification,Atlanta,[],['William VanCuren'],"Computers, Office Equipment",0019G81491h1u71uYuU
493,50000,John Sebastiano,Engage - QuickStart(Coversational AI),Prospecting,Sunnyvale,[],['Bob Houghton'],"Computers, Office Equipment",0019H41435m6u21aRnP
549,50000,Loraine Killeen,Cortex QuickStart(MachineLearning),Needs Identification,North Canton,[],['Tatiana Vandyck'],"Computers, Office Equipment",0012U67123t0u60mGlE
655,50000,Yesenia Mention,Cortex QuickStart(AI Develpoment),Negotiations,Stamford,[],['Louise Lacaze'],"Computers, Office Equipment",0016M91499n1u07eAoL
822,50000,Ruben Olejniczak,Cortex QuickStart(MachineLearning),Needs Identification,San Jose,[],['Leonardo Poma'],"Computers, Office Equipment",0013W05947h2u89pMrC

In [144]:
cleansed_df.columns

Index(['Amount1', 'account_name', 'contacts', 'profile_id',
       'competitor_names_AIG', 'competitor_names_AT&T',
       'competitor_names_Aetna', 'competitor_names_Akron',
       'competitor_names_Albertsons Cos.', 'competitor_names_Allentown',
       ...
       'industry_name_Transportation Equipment',
       'industry_name_Transportation and Logistics',
       'industry_name_Trucking, Truck Leasing',
       'industry_name_Utilities: Gas and Electric',
       'industry_name_Waste Management',
       'industry_name_Wholesalers: Diversified',
       'industry_name_Wholesalers: Electronics and Office Equipment',
       'industry_name_Wholesalers: Food and Grocery',
       'industry_name_Wholesalers: Health Care', 'Target'],
      dtype='object', length=1134)

In [100]:
# raw_df.head()
industries=raw_df['industry_name']
le=LabelEncoder()
# print(le.fit_transform(industries))
# print(industries)

target=le.fit_transform(industries)
cleansed_df['Target']=target
cleansed_df.head()

,Amount1,account_name,contacts,profile_id,competitor_names_AIG,competitor_names_AT&T,competitor_names_Aetna,competitor_names_Akron,competitor_names_Albertsons Cos.,competitor_names_Allentown,...,industry_name_Transportation Equipment,industry_name_Transportation and Logistics,"industry_name_Trucking, Truck Leasing",industry_name_Utilities: Gas and Electric,industry_name_Waste Management,industry_name_Wholesalers: Diversified,industry_name_Wholesalers: Electronics and Office Equipment,industry_name_Wholesalers: Food and Grocery,industry_name_Wholesalers: Health Care,Target
0,50000,Walmart,['Eduardo Brayner'],0015I11484m7u87wBuD,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,25
1,50000,Costco,['Karim Krzan'],0011S65285x2u62kQjM,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,49
2,50000,Target,['Michael McNamara'],0018K30946c0u64tLmE,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,38
3,11861000,Cincinnati,['Lynette Lewey'],0012V84143a2u46dJuZ,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
4,50000,Menomonee Falls,['Karl Armstong'],0018O29856x4u54fHnE,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,26

In [101]:
def standardise_amount(cleansed_df):
    df=cleansed_df.copy()
    df.Amount1=pd.to_numeric(df.Amount1)
    df.Amount1=((df.Amount1-df.Amount1.mean()).abs())/(df.Amount1.std())


    for col in df.columns:
        if df[col].dtype=='object':
            df.drop(col,axis=1,inplace=True)

    Y=df.Target
    X=df.drop('Target',axis=1)
    return X,Y

In [102]:
X,Y=standardise_amount(cleansed_df)

In [103]:
X.head()

,Amount1,competitor_names_AIG,competitor_names_AT&T,competitor_names_Aetna,competitor_names_Akron,competitor_names_Albertsons Cos.,competitor_names_Allentown,competitor_names_Alphabet,competitor_names_Amazon.com,competitor_names_American Airlines Group,...,"industry_name_Toys, Sporting Goods",industry_name_Transportation Equipment,industry_name_Transportation and Logistics,"industry_name_Trucking, Truck Leasing",industry_name_Utilities: Gas and Electric,industry_name_Waste Management,industry_name_Wholesalers: Diversified,industry_name_Wholesalers: Electronics and Office Equipment,industry_name_Wholesalers: Food and Grocery,industry_name_Wholesalers: Health Care
0,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.393786,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [104]:
Y.head()

0    25
1    49
2    38
3    10
4    26
Name: Target, dtype: int64

# Profile similarity

### Without dynamically learnt distance metric

In [134]:
similarity_scores=similarity_scorer(X,raw_df,'0015I11484m7u87wBuD',0.8,True)
# print(similarity_scores)

[('0015I11484m7u87wBuD', 0.9999999999999998), ('0017O90702b2u22mRuO', 0.9970387698474679), ('0010M31590u1u26mLrF', 0.996358227664311), ('0014A89474o7u08gAxF', 0.9951088655462809), ('0013C88074s8u10gLgP', 0.9943256153575845), ('0014O58104g1u89gMwI', 0.9939290185658288), ('0015A58652y5u85aTeR', 0.992605720993937), ('0014Q41571u4u83tPyT', 0.9919941049659444), ('0019S08787o6u53lIcW', 0.9919068248263776), ('0014X40021u0u07iDaG', 0.9917636565602805), ('0019I17871m1u56eHjB', 0.9913441572881068), ('0011G26362f4u65jMrJ', 0.9911302552549098), ('0012G45083i3u57xUnC', 0.9908647984885324), ('0010R66270s7u92aVcS', 0.9907191666487185), ('0014Q79691j4u04fIyL', 0.990716663325577), ('0010F18193q5u88qFcL', 0.9906548114978068), ('0010Z59426c3u52uAnH', 0.9894865151037372), ('0015E83544r6u40tJyJ', 0.9890171565458741), ('0018G04323o7u59fLiY', 0.9889988683062112), ('0015P76867d2u67bNnA', 0.9889354107775039), ('0013Y05490r7u46fXeF', 0.98854923344198), ('0017Q17137q8u22gPmX', 0.9873554354803002), ('0013Z22106r5u66vQnM', 0.9873448584431787), ('0012C29117m6u82oScC', 0.9863381348868505), ('0012H15075i2u27kHgE', 0.9858588525148831), ('0010T21694h1u32kLvY', 0.9815445005836996), ('0012Y28662f5u49cXfB', 0.9802490652310323), ('0018Q00104i0u64vFvE', 0.9795364118671849), ('0012V33132n6u90bYsR', 0.9764100403842506), ('0015G59474o5u66rDyP', 0.9757820055191545), ('0014F68766r7u01mYuG', 0.9447864685150962), ('0017D94722a2u28oVrM', 0.9423944623331704), ('0010J38028x9u12xWgN', 0.8583521242061484), ('0010V37393k9u33zQiU', 0.8467746857334056), ('0016D93271o3u79mWiA', 0.8376113902596322), ('0015V46451h8u83pYlE', 0.8304836078526316), ('0019N65631e9u47xJdW', 0.8167440537362674), ('0016S80895y3u70gTcC', 0.8134589637274475), ('0012X04551u2u16kGuG', 0.8063679024534036), ('0014N20519y9u00mPaO', 0.8061253756925372), ('0017X07975s1u85kPdM', 0.8035656114394534), ('0010S03881k7u89jRrM', 0.8008179465944355)]

In [106]:
raw_df[raw_df['profile_id']=='0018I84600a7u13kRsG']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
34,50000,Janice Cerniglia,Cortex QuickStart(MachineLearning),Needs Identification,Dell Technologies,[],['Axel Whitsel'],"Computers, Office Equipment",0018I84600a7u13kRsG

In [107]:
raw_df[raw_df['profile_id']=='0018W57652c3u02cNyP']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
31,50000,Astrid Schmaus,Engage - QuickStart(Coversational AI),Prospecting,Citigroup,[],['Doug Fries'],Commercial Banks,0018W57652c3u02cNyP

In [140]:
raw_df[raw_df['profile_id']=='0015I11484m7u87wBuD']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
0,50000,Rosella Hymer,Amplify - QuickStart(Process Insights),Confirming Value with Power,Walmart,[],['Eduardo Brayner'],General Merchandisers,0015I11484m7u87wBuD

In [141]:
raw_df[raw_df['profile_id']=='0017O90702b2u22mRuO']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
2,21483000,Janice Cerniglia,Cortex Enterprise(AI Develpoment),Negotiations,Berkshire Hathaway,[],['Courtney Bodey'],Insurance: Property and Casualty (Stock),0017O90702b2u22mRuO

In [142]:
raw_df[raw_df['profile_id']=='0010M31590u1u26mLrF']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
973,50000,Silas Golik,Amplify - QuickStart(Process Insights),Confirming Value with Power,Denver,[],['Neil Burbidge'],"Building Materials, Glass",0010M31590u1u26mLrF

### With Large Margin Nearest Neighbour algorithm

In [133]:
# Takes around 15 mins for each run
similarity_scores=similarity_scorer_with_metric_learn(X,Y,raw_df,'0015I11484m7u87wBuD',0.3,'LMNN')
print(similarity_scores)

/Users/sswetank/anaconda3/lib/python3.6/site-packages/metric_learn/lmnn.py:62: UserWarning: use_pca does nothing for the python_LMNN implementation
  warnings.warn('use_pca does nothing for the python_LMNN implementation')

[('0015I11484m7u87wBuD', 1.0000000000000002), ('0014A89474o7u08gAxF', 0.47851361357724553), ('0017O90702b2u22mRuO', 0.46727433363126003), ('0018F19522b5u71kQdN', 0.37147146547001314), ('0011C69264p4u76xGqS', 0.3577782478598439), ('0012V01205p4u70wXrX', 0.35453136776685545), ('0016H55187a0u64bXlC', 0.3505128718355659), ('0012V33132n6u90bYsR', 0.33906018283997147), ('0010P92980y5u92pCdR', 0.33858465636427076), ('0010T21694h1u32kLvY', 0.33653434861599196), ('0010A03293e7u62oRnZ', 0.3365258828928387), ('0019C26341k1u73vGeF', 0.33484484838576895), ('0018G04323o7u59fLiY', 0.3332649646298048), ('0017X07975s1u85kPdM', 0.32756613823104086), ('0017B59136c4u05rGzB', 0.3233279389761064), ('0019Q98628h0u30eTxJ', 0.31708304577808827), ('0015E83544r6u40tJyJ', 0.3168668452438808), ('0016T39480x0u71kPlM', 0.31616785246480206), ('0015G59474o5u66rDyP', 0.31595093830450227), ('0015O83471n4u35oZwK', 0.31502735763569784), ('0014X88750f8u17sOyN', 0.31350557167858994), ('0010O36077k4u25iCzL', 0.30996903060094616), ('0018V75022h7u57mEsY', 0.30986548130772473), ('0012F90448c0u97vKqF', 0.30915167136295685), ('0019I17871m1u56eHjB', 0.3087057837297984), ('0013Q78347m6u89mKpC', 0.3043719413343524), ('0012Y28662f5u49cXfB', 0.30280660757519823), ('0016S80895y3u70gTcC', 0.3015879391758495), ('0012A23747u9u47xPjQ', 0.3010629311131807)]

In [40]:
raw_df[raw_df['profile_id']=='0014B28932p5u37rWgX']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
3,10089000,Paris Poma,Engage - Enterprise(Customer360),Prospecting,Apple,[],['Axel Whitsel'],"Computers, Office Equipment",0014B28932p5u37rWgX

In [41]:
raw_df[raw_df['profile_id']=='0017S92782b0u84nAaG']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
10,47280000,Kaydon Lambrakis,Engage - Enterprise(Conversational AI),Prospecting,Ford Motor,[],['Jeff Lemmer'],Motor Vehicles and Parts,0017S92782b0u84nAaG

In [42]:
raw_df[raw_df['profile_id']=='0017L02849e9u73xUpG']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
238,50000,Mauricio Spadlin,Cortex QuickStart(AI Develpoment),Negotiations,Kalamazoo,[],['Bill Kale'],Medical Products and Equipment,0017L02849e9u73xUpG

In [136]:
raw_df[raw_df['profile_id']=='0015I11484m7u87wBuD']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
0,50000,Rosella Hymer,Amplify - QuickStart(Process Insights),Confirming Value with Power,Walmart,[],['Eduardo Brayner'],General Merchandisers,0015I11484m7u87wBuD

In [137]:
raw_df[raw_df['profile_id']=='0014A89474o7u08gAxF']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
8,50000,Freddie Faustman,Cortex QuickStart(MachineLearning),Needs Identification,AT&T,[],['Ron Yttri'],Telecommunications,0014A89474o7u08gAxF

In [138]:
raw_df[raw_df['profile_id']=='0017O90702b2u22mRuO']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
2,21483000,Janice Cerniglia,Cortex Enterprise(AI Develpoment),Negotiations,Berkshire Hathaway,[],['Courtney Bodey'],Insurance: Property and Casualty (Stock),0017O90702b2u22mRuO

In [139]:
raw_df[raw_df['profile_id']=='0018F19522b5u71kQdN']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
73,19317000,Chloe Arrington,Amplify - Enterprise(Survellance Insights),Use Case Confirmed,Charter Communications,[],['Renee Weisel'],Telecommunications,0018F19522b5u71kQdN

### With Nearest Component Analysis algorithm

In [129]:
similarity_scores=similarity_scorer_with_metric_learn(X,Y,raw_df,'0015I11484m7u87wBuD',0.7,'NCA')
print(similarity_scores)

[('0015I11484m7u87wBuD', 1.0000000000000002), ('0011C69264p4u76xGqS', 0.9157087622278907), ('0010T21694h1u32kLvY', 0.8896918326431453)]

In [130]:
raw_df[raw_df['profile_id']=='0015I11484m7u87wBuD']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
0,50000,Rosella Hymer,Amplify - QuickStart(Process Insights),Confirming Value with Power,Walmart,[],['Eduardo Brayner'],General Merchandisers,0015I11484m7u87wBuD

In [131]:
raw_df[raw_df['profile_id']=='0011C69264p4u76xGqS']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
233,50000,Hosea Norsworthy,Cortex QuickStart(AI Develpoment),Negotiations,Plano,[],['June Linney'],General Merchandisers,0011C69264p4u76xGqS

In [132]:
raw_df[raw_df['profile_id']=='0010T21694h1u32kLvY']

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
731,36033000,Elba Saylors,Amplify - Enterprise(Survellance Insights),Needs Identification,San Diego,[],['Celeste Ganino'],General Merchandisers,0010T21694h1u32kLvY

In [128]:
raw_df.head()

,Amount1,ExecSponsor1,OpportunityName1,OpportunityStatus1,account_name,competitor_names,contacts,industry_name,profile_id
0,50000,Rosella Hymer,Amplify - QuickStart(Process Insights),Confirming Value with Power,Walmart,[],['Eduardo Brayner'],General Merchandisers,0015I11484m7u87wBuD
1,10580000,Astrid Schmaus,Amplify - Enterprise(Survellance Insights),Use Case Confirmed,Exxon Mobil,[],['Ridwan Zurawik'],Petroleum Refining,0017K23751y0u72fZpZ
2,21483000,Janice Cerniglia,Cortex Enterprise(AI Develpoment),Negotiations,Berkshire Hathaway,[],['Courtney Bodey'],Insurance: Property and Casualty (Stock),0017O90702b2u22mRuO
3,10089000,Paris Poma,Engage - Enterprise(Customer360),Prospecting,Apple,[],['Axel Whitsel'],"Computers, Office Equipment",0014B28932p5u37rWgX
4,9141000,Lisa Kalafatis,Cortex Enterprise(MachineLearning),Negotiations,UnitedHealth Group,[],['John Santelli'],Health Care: Insurance and Managed Care,0015R72262j6u33kWxP

### With LFDA

In [125]:
similarity_scores=similarity_scorer_with_metric_learn(X,Y,raw_df,'0014B28932p5u37rWgX',0.5,'LFDA')
print(similarity_scores)

,Amount1,competitor_names_AIG,competitor_names_AT&T,competitor_names_Aetna,competitor_names_Akron,competitor_names_Albertsons Cos.,competitor_names_Allentown,competitor_names_Alphabet,competitor_names_Amazon.com,competitor_names_American Airlines Group,...,"industry_name_Toys, Sporting Goods",industry_name_Transportation Equipment,industry_name_Transportation and Logistics,"industry_name_Trucking, Truck Leasing",industry_name_Utilities: Gas and Electric,industry_name_Waste Management,industry_name_Wholesalers: Diversified,industry_name_Wholesalers: Electronics and Office Equipment,industry_name_Wholesalers: Food and Grocery,industry_name_Wholesalers: Health Care
0,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.393786,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2.363333,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1.011001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0.289409,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0.313364,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0.402748,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1.177791,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0.191306,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,1.198406,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
970,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
971,0.048246,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
972,3.016318,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
973,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
974,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
975,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
976,0.074300,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
977,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
978,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
979,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
980,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
981,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
982,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
983,0.228625,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
984,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
985,0.928461,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
986,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
987,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
988,0.574754,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
989,0.568581,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
990,0.568581,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
991,0.568581,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
992,0.568581,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
993,0.167759,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
994,0.568581,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
995,1.110814,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0.383030,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0.568581,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### With MLKR

In [24]:
similarity_scores=similarity_scorer_with_metric_learn(X,Y,raw_df,'0014B28932p5u37rWgX',0.5,'MLKR')
print(similarity_scores)

ValueError: shapes (999,1130) and (999,1130) not aligned: 1130 (dim 1) != 999 (dim 0)

In [82]:
X=np.random.random(4)

In [83]:
X

array([0.61461335, 0.21353609, 0.97281606, 0.01995753])

In [87]:
from sklearn.model_selection import LeavePOut,LeaveOneOut

In [88]:
lpo=LeavePOut(2)
loo=LeaveOneOut()

In [86]:
for train, test in lpo.split(X):
    print("%s %s"%(train,test))

[2 3] [0 1]
[1 3] [0 2]
[1 2] [0 3]
[0 3] [1 2]
[0 2] [1 3]
[0 1] [2 3]

In [90]:
for train,test in loo.split(X):
    print("%s %s"%(train,test))

[1 2 3] [0]
[0 2 3] [1]
[0 1 3] [2]
[0 1 2] [3]